h1
{
	color: #ffeeee;
	font-family: georgia;
	text-align: center;
	font-size: 50px;
}
#nav ul
{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 154.5px;
	height: 30px;
  	background-color: #f1f1f1;
	text-align: center;
	margin: auto;
}
#nav li
{
  display: inline-block;
  color: #000;
  padding: 6px 16px;
  text-decoration: none;
}
#nav li:hover
{
  background-color: #555;
  color: white;
  margin: auto;
  text-align: center;
}
#header
{
	background-size: auto;
	margin: 0 auto;
	width: 100%;
}
body
{
	background: linear-gradient(-45deg,#35577D, #141E30);
	background-repeat: repeat;
}
p
{
	color: #ffffee;
	text-align: center;
	font-family: georgia;
	font-size: 25px;
}
#login p
{
	color: #000000;
	text-align: center;
	font-family: georgia;
	font-size: 20px;
}
table, th, td
{
	border: 2px solid #000000;
	border-collapse: collapse;
	border-color: #aaaaaa;
	background-color: white;
	margin: auto;
}
th
{
	color: #000000;
	font-family: georgia;
	font-size: 20px;
}
td
{
	padding: 40px;
	font-family: georgia;
	font-size: 18px;
}

button[type=submit]
{
	background-color: #1e90ff;
	border: none;
	margin: 4px 2px;
	padding: 7px 15px;
	font-family: georgia;
	font-size: 15px;
}
input[type=text], input[type=password]
{
	background-color: #ffffff;
	margin: 8px 0;
	padding: 8px 8px;
}
#login
{
	visibility: none;
}
input::placeholder
{
	color: #cccccc;
}
label
{
	color: #000000;
	font-family: georgia;
}
