.page {
  width: 100%;
  margin: 0;
}

h1
{
	color: #ffeeee;
	font-family: candara;
	text-align: center;
	font-size: 50px;
}
#nav ul
{
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 154.5px;
	height: 30px;
  	background-color: #f1f1f1;
	text-align: center;
	margin: auto;
}
#nav li
{
  display: inline-block;
  color: #000;
  padding: 6px 16px;
  text-decoration: none;
}
#nav li:hover
{
  background-color: #555;
  color: white;
  margin: auto;
  text-align: center;
}
#header
{
	background-size: auto;
	margin: 0 auto;
	width: 100%;
}
body
{
  margin: 0;
  height: 100vh;
	background: linear-gradient(-45deg,#35577D, #141E30);
	background-repeat: repeat;
  padding: 20px;
  box-sizing: border-box;
}
p
{
	color: #ffffee;
	text-align: center;
	font-family: candara;
	font-size: 20px;
}
#login p
{
	color: #000000;
	text-align: center;
	font-family: candara;
	font-size: 20px;
}
table
{
	border: 2px solid #000000;
	border-collapse: collapse;
	border-color: #888888;
	background-color: white;
   float: center;
   width: 100%;
}
th
{
	color: #000000;
	font-family: candara;
	font-size: 25px;
	padding: 0;
   position: relative;
   text-align: center;
}
td
{
	padding: 40px;
	font-family: candara;
	font-size: 18px;
   text-align:center;
}

input[type=text], input[type=password]
{
	background-color: #ffffff;
	margin: 8px 0;
	padding: 8px 8px;
}
#fname, #lname
{
	width: 72px;
}
input::placeholder
{
	color: #999999;
}
label
{
	color: #000000;
	font-family: candara;
}

#login {
	width: 300px;
    margin: auto;
    background: #fafafa;
    padding: 10px;
}

#login input {
	box-sizing: border-box;
	width: 100%;
}

/* Input Styling */

input
{
  padding: 10px 15px
}

/* Button Styling */

button {
	background-color: #1e90ff;
	border: none;
	color: #eeeeee;
	padding: 7px 10px;
	font-family: candara;
	font-size: 15px;
	cursor: pointer;
	transition: 0.15s ease-in-out background-color;
}

button:hover {
	background-color: #0577E6;
}

#login button {
	display: block;
	width: 100%;
	margin-top: 4px;
}
